body
{
  color: white;
  background: #fbdcff;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#emo1 ,#emo2
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
  background-color: rgb(215, 114, 246);
  padding-top: 5px;
  padding-bottom: 5px;
  width: 420px;
  line-height: 50px;
}
label {
  font-size: 14px;
  color: rgb(248, 101, 248);
  padding: 6px;
  border-radius: 10px;
  background-color: rgb(255, 177, 255);
}
button {
  background-color: rgb(198, 85, 233);
  border-radius: 5px;
  height: 35px;
  border-color: rgb(22, 9, 36);
}